{
  "extends": "react-app",
  "rules": {
    "import/no-unresolved": 1
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "config/webpack.config.dev.js"
      }
    }
  }
}
